@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D0630;
}

.container {
    display: flex;
}

.container .static-text {
    color: #D1FAFF;
    font-size: clamp(2.5rem, 4.4vw, 4.125rem);
    font-weight: 400;
}

.container .typing-text {
    margin-left: 16px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.typing-text li {
    list-style: none;
    color: #F6E27F;
    font-size: clamp(2.5rem, 4.4vw, 4.125rem);
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.typing-text li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0D0630;
    border-left: 2px solid #F6E27F;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {
    40%, 60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
}


@media (max-width: 410px) {
    .container {
        width: 96%;
        
    }

}
